@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --unfocused-border-color: #eaeaea;
  --focused-border-color: #666;

  --button-disabled-color: #fafafa;
  --disabled-text-color: #999;

  --geist-border-radius: 5px;
  --geist-quarter-pad: 6px;
  --geist-half-pad: 12px;
  --geist-pad: 24px;
  --geist-font: "Inter";

  --geist-error: #e00;

  --subtitle: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --unfocused-border-color: #333;
    --focused-border-color: #888;
    --foreground: #fff;
    --button-disabled-color: #111;
    --geist-error: red;
    --subtitle: #8d8d8d;
  }
}

@font-face {
  font-family: "ITC";
  font-weight: 700;
  font-style: normal;
  src: url("../public/itc-bold.otf") format("opentype");
}

@font-face {
  font-family: "ITC";
  font-weight: 400;
  font-style: normal;
  src: url("../public/itc-demi.otf") format("opentype");
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-unfocused-border-color: var(--unfocused-border-color);
  --color-focused-border-color: var(--focused-border-color);
  --color-button-disabled-color: var(--button-disabled-color);
  --color-disabled-text-color: var(--disabled-text-color);
  --color-geist-error: var(--geist-error);
  --color-subtitle: var(--subtitle);
  --padding-geist-quarter: var(--geist-quarter-pad);
  --padding-geist-half: var(--geist-half-pad);
  --padding-geist: var(--geist-pad);
  --spacing-geist: var(--geist-pad);
  --spacing-geist-half: var(--geist-half-pad);
  --spacing-geist-quarter: var(--geist-quarter-pad);
  --radius-geist: var(--geist-border-radius);
  --font-geist: var(--geist-font);
  --font-itc: "ITC", sans-serif;
  --animate-spinner: spinner 1.2s linear infinite;

  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
}

.text-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.3' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
  background-size: 256px 256px;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: noise 50ms linear infinite;
}

@keyframes noise {
  0% {
    background-position: 0 0;
  }
  15% {
    background-position: -1px -1px;
  }
  30% {
    background-position: 1px 1px;
  }
  45% {
    background-position: -1px 1px;
  }
  60% {
    background-position: 1px -1px;
  }
  75% {
    background-position: -1px -1px;
  }
  90% {
    background-position: 1px 1px;
  }
  100% {
    background-position: 0 0;
  }
}
